.home {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.home__row1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-evenly;
  grid-column-gap: 5%;
  grid-row-gap: 1%;
  /* grid-column: auto; */
  z-index: 1;
  margin-left: 1%;
  margin-right: 6.5%;
}
.home__row2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  grid-column-gap: 5%;
  grid-row-gap: 1%;
  /* grid-column: auto; */
  z-index: 1;
  margin-left: 1%;
  margin-right: 6.5%;
}
.home__row3 {
  display: grid;
  /* grid-template-columns: repeat(1, 1fr); */
  align-items: center;
  /* justify-content: space-evenly; */
  /* grid-column-gap: 5%; */
  grid-row-gap: 1%;
  /* grid-column: auto; */
  z-index: 1;
  margin-left: 1%;
  margin-right: 6.5%;
}

.home__image {
  width: 100%;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  z-index: -1;
  margin-bottom: -150px;
}
